@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
          box-sizing: $sizing;
}


@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}